<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Marvel Heroes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Marvel Heroes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let item of data">
    <ion-thumbnail slot="start">
      <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
    </ion-thumbnail>
    <ion-label>
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    </ion-label>
  </ion-item>
</ion-content>